<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Work</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body>

    <!--header-->
    <header>
        <div>
            Team Work
        </div>
    </header>
    <center id="center">
        <!--일일 체크리스트 폼 -->
        <div id="daily-checklist" class="card">
            <div class="card-header">
                <div>이름</div>
                <div>2019년<br>
                    5월 5일(금)
                </div>
                <div>▼</div>
            </div>
            <div class="card-body">
                {% for i in range(25) %}
                <div><label>□</label> 일일 체크리스트 만들기</div>
                {% endfor %}
                <div> 새 일정 추가</div>
            </div>
        </div>


        <!-- 플래너 폼 -->
        <div id="planner" class="card">
            <table border="1">
                <!-- 헤더 -->
                <tr>
                    <td rowspan="2">담당자</td>
                    <td rowspan="2">일정</td>
                    <td rowspan="2">우선순위</td>
                    <td colspan="3">3</td>
                    <td colspan="22">4</td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    {% for a in range(1,23) %}
                    <td>{{a}}</td>
                    {% endfor %}
                </tr>

                <!-- 바디 -->
                {% for i in range(5) %}
                    <tr>
                        <td>조영재</td>
                        <td>체크리스트 만들기</td>
                        <td>3</td>
                        {% for j in range(29, 32) %}
                            <td> </td>
                        {% endfor %}
                        {% for j in range(1, 23) %}
                            <td> </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

        </div>


        <!-- 이슈 기록 폼 -->
        <div id="issue" class="card">
            <div class="date-line">----------19년 5월 3일----------</div>
            <div class="issue-card">
                <div class="issue-head">
                    클라이언트와 서버 연결간 이슈
                    조영재
                </div>
                <div class="issue-body">
                    이슈내용
                    <div class="contents">

                    </div>
                    해결방법
                    <div class="solution">

                    </div>
                </div>
            </div>
        </div>


        <!-- 완성된 기능 폼 -->
        <div id="complate" class="card">
            <div class="date-line">----------19년 5월 3일----------</div>
            <div class="complate-card">
                <div class="complate-head">
                    클라이언트와 서버 연결간 이슈
                    조영재
                </div>
                <div class="complate-body">
                    설명
                    <div class="explains">

                    </div>

                </div>
            </div>
        </div>


        <!-- 문서 보관함 폼 -->
        <div id="document-list" class="card">
            <div class="document-list-head">
                설계 문서 저장소
            </div>
            <div class="document-list-body">
                데이터베이스 설계서
            </div>
        </div>
    </center>

    <!-- footer 메뉴 구현 -->
    <footer>
        <div>
            <a class="menu">Menu</a>
        </div>
        <div id="list" class="hide">
            <a class="move">daily-checklist</a>
            <a class="move">planner</a>
            <a class="move">issue</a>
            <a class="move">complate</a>
            <a class="move">document-list</a>
        </div>
    </footer>

    <!-- JavaScript -->
    <script>
         var height = $(window).height();
         $('.card').height(height-100);
         $('#center').height(height-100);

        var activate = $('#daily-checklist');

        function pageMove(target){
            activate.animate({opacity: "0.0"}, 500).css("z-index",0);
            target.delay(500).animate({opacity: "1.0"},1000).css("z-index",5);
            activate = target;
        }
        pageMove(activate);


        $(document).ready(function(){
            var list = $("#list");
            $(".menu").click(function(){
                if(list.is(":visible")){
                    list.slideUp();
                }else{
                    list.slideDown();
                }
            });

            $(".move").click(function(){
                var target_html = $(this).html();
                var target = $('#'+target_html);
                pageMove(target);

                $.ajax({
                    url:"/users",
                    type:"GET",
                    dataType:"text"
                })
                .done(function(json){
                    console.log(json);
                    alert("요청 성공");
                })
                .fail(function(xhr, status, errorThrown){
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                    alert("요청 실패");
                });

            });
        });
    </script>
</body>
</html>